doctype html
head
  title Пикта | Работа в крупнейших компаниях России
  include partials/head

body
  .head
    .container
      .head-logo
      .head-title
        | Работа в крупнейших компаниях России
      .head-description
        | Общий центр обслуживания «Пикта» — обособленное подразделение МегаФона, которое обеспечивает операционную поддержку бизнеса для компаний группы и корпоративных клиентов
      .head-icon

  .team
    .container
      .team-title
        | Включайся в команду мечты
    .team-photos
      .team-photo.team-photo--1
      .team-photo.team-photo--2
      .team-photo.team-photo--3

  .vacancy
    .container
      .vacancy-title
        .vacancy-title__icon
        | Повар-кассир в Burger King

      .vacancy-info
        .vacancy-item
          .vacancy-item__title
            | Преимущества
          .vacancy-item__text
            | Гордиться собой: работа в крупной международной компании
          .vacancy-item__text
            | Стремительный карьерный рост и постоянное профессиональное развитие
          .vacancy-item__text
            | Работать рядом с домом по графику 5/2, плавающие выходные
          .vacancy-item__text
            | Сплоченный коллектив единомышленников
          .vacancy-item__text
            | Заботиться о себе: ДМС, мотивационные программы, униформа, вкусное питание
          .vacancy-item__text
            | Оформление по ТК РФ, белая заработная плата

        .vacancy-item
          .vacancy-item__title
            | Задачи
          .vacancy-item__text
            | Готовить блюда согласно стандартам компании
          .vacancy-item__text
            | Консультировать и обслуживать гостей ресторана
          .vacancy-item__text
            | Сбор заказов
          .vacancy-item__text
            | Расчет по кассе
          .vacancy-item__text
            | Поддерживать чистоту на рабочем столе

      a.button(href="#")
        | Пройти собеседование

  .footer
    a.footer-number(href="tel:78002225775")
      .footer-icon
      | 8 (800) 222-57-75
    .footer-socials
      a.footer-socials__facebook(href="#")
      a.footer-socials__telegram(href="#")
      a.footer-socials__instagram(href="#")
      a.footer-socials__skype(href="#")
